*,*::before,*::after{
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$section-bg-color: rgb(236, 229, 229);
$button-color: #073b4c;
$button-text-color: #edf6f9;
$button-h-color: #edf6f9;
$button-h-text-color: #073b4c;

@mixin button-styles {
    background-color: $button-color;
    color: $button-text-color; 
}

@mixin button-h-styles {
    background-color: $button-h-color;
    color: $button-h-text-color;
    border: 1px solid black;
}

// HEADER
.header{
    margin: 0 15px;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 5;
    background-color: white;
    border-bottom: 1px solid black;
    width: calc(100% - 30px);

    .navbar{
        .navbar-collapse{
            .navbar-nav{
                width: 100%;
            }
        }
    }
    
}


//HERO 
.hero{
    
    height: 800px;
    background-image: url("../../images/hero.jpg");
    background-size: cover;
    background-color: blue;

    .hero-content{
        height: 350px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .hero-title{
            color: white;
            
            h1{
                font-size: 50px;
                padding-top: 120px;
                padding-bottom: 30px;
            }
        }
        .hero-text{
            color: white;
            font-size: 30px;
            h2{
                padding-bottom: 30px;
            }

        }
    }

    .market-place{
        padding: 0 20%;
        .carousel{
            
            .carousel-inner{
                .carousel-item{
                    
                    img{
                        width: 80%;
                        height: 420px;
            
                        
                    }
                }
            }
        }
    }
    
}


//CLIENTS
.clients{
    width: 100%;
    display: flex;
    background-color: #eaedef;   
    .logo{
        flex: 1;
        text-align: center;
        img{
            max-width: 100%;
            height: 80px;
        }
    }
}


//HIGHLIGHTS
.highlights{
    padding: 5% 10%;
    width: 100%;
    .highlights-heading-text{
        text-align: center;
        padding: 30px;
        width: 100%;
        i{
            font-size: 50px;
            padding-bottom: 40px;
        }
        hr{
            width: 10%;
	        height: 2px;
	        background-color: #d1df10;
            border: 0;
            margin: 0 auto;
            
        }
        h1{
            font-size: 40px;
            padding: 20px 0;
        }
        .video{
            margin-bottom: 30px;
            max-width: 100%;
            
            iframe{
               width: 55%;
               height: 320px;
               overflow: hidden;
            }
        }
        .btn{
            display: flex;
            justify-content: center;
            align-items: center;
            button{
                padding: 10px 80px;
                background-color: $button-color;
                color: $button-text-color;
                font-weight: 700;
                &:hover{
                    background-color: $button-h-color;
                    color: $button-h-text-color;
                    border: 1px solid black;
                }
            }
            
        }
    }
    .highlights-content{
        text-align: center;
        padding-top: 150px;
        width: 100%;

        i{
            font-size: 50px;
        }
        hr{
            width: 10%;
	        height: 2px;
	        background-color: #d1df10;
            border: 0;
            margin: 30px auto;    
        }
        .title{
            h1{
                font-size: 30px;
                padding-bottom: 30px;
            }
        }
        .links{
                text-align: left;
                display: flex;
                justify-content: center;
                align-items: center;
                ul{
                    list-style-type: none;
                    li{
                    line-height: 2.5;
                    i{
                    font-size: 30px;
                    color: rgb(155, 155, 9);
                    padding-right: 30px;
                    }
                        a{
                    text-decoration: none;
                    color: rgb(155, 155, 9);
                    font-size: 20px;
                    }
                    a:hover{
                    color: black;
                    }
                }
            }
        }
    }
}


//REVIEWS
.reviews{
    padding: 5% 15%;
    background-color: $section-bg-color;
    .row{
        .col-md-4{
            text-align: center;
            margin-bottom: 40px;
            .icon{
                i{
                    font-size: 50px;
                    margin-bottom: 30px;
                }
            }
            .heading-text{
                a{
                text-decoration: none;
                color: black;
                font-size: 30px;
                }
            }
            hr{
                width: 90%;
                height: 2px;
                background-color: rgb(155, 155, 9);
                border: 0;
                margin: 25px auto; 
            }
            .rating{
                i{
                    font-size: 20px;
                    margin-bottom: 30px;
                }
            }
            .btn{
                button{
                padding: 10px 40px;
                @include button-styles();

                    &:hover{
                        @include button-h-styles();
                    }
                
                }
                
            }
        }
    }
}


// CASE STUDIES
.case-studies{
    padding: 5% 15%;
    .heading-text{
        text-align: center;
        margin-bottom: 50px;
        .icon{
            padding-bottom: 20px;
            i{
                font-size: 40px;
            }
        }
        hr{
            width: 15%;
            height: 2px;
            background-color: black;
            border: 0;
            margin: 0 auto;
        }
        .title{
            padding-top: 60px;
            h1{
                font-size: 40px;
            }
        }
    }

    .casestudy-content{
        .carousel{
            position: relative;
            .carousel-inner{  
                .carousel-item{
                    .row{
    
                        .col-md-5{
                            text-align: center;
                            h1{
                                font-weight: 500;
                                font-size: 30px;
                                padding-bottom: 20px;
                            }
                            h2{
                                font-weight: 500;
                                font-size: 30px;
                                padding-bottom: 20px;
                            }
                            p{
                                font-weight: 400;
                                font-size: 20px;
                                padding-bottom: 20px;
                            }
                            .btn-1{
                                padding-bottom: 20px;
                                button{
                                    padding: 10px 40px;
                                    @include button-styles();
                                    &:hover{
                                        @include button-h-styles();
                                    }
                                }
                            }
                            .btn-2{
                                button{
                                    padding: 10px 40px;
                                    @include button-styles();
                                    &:hover{
                                        @include button-h-styles();
                                    }
                                }
                            }
                        }
                        .col-md-7{
                            text-align: center;
                            a{
                                img{
                                    width: 90%;
                                    height: 400px;
                                }
                            }   
                        }
                    }
                }
            }
        }
 
        .carousel-indicators{
            position: absolute;
            bottom: -70px;
            left: 0;
            li{
                width: 30px;
                height: 30px;
                border-radius: 50%;
            }
        }
    }
}


//SHOWCASES
.showcases{
    padding: 10% 15%;
    .heading-text{
        text-align: center;
        margin-bottom: 50px;
        .icon{
            padding-bottom: 20px;
            i{
                font-size: 40px;
            }
        }
        hr{
            width: 15%;
            height: 2px;
            background-color: black;
            border: 0;
            margin: 0 auto;
        }
        .title{
            padding-top: 60px;
            h1{
                font-size: 40px;
            }
        }
    }

    .showcases-content{
        .carousel{
            position: relative;
            .carousel-inner{  
                .carousel-item{
                    .row{
                        .col-md-7{
                            text-align: center;
                            a{
                                img{
                                    width: 90%;
                                    height: 400px;
                                }
                            }   
                        }
                        .col-md-5{
                            
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            h1{
                                font-weight: 500;
                                font-size: 30px;
                                padding-bottom: 20px;
                            }
                            hr{
                                width: 30%;
                                height: 2px;
                                background-color: black;
                                border: 0;
                            }
                            a{
                                text-decoration: none;
                                color: black;
                                font-size: 20px;
                            }
                            .btn-1{
                                padding-bottom: 20px;
                                button{
                                    padding: 10px 40px;
                                    @include button-styles();
                                    &:hover{
                                        @include button-h-styles();
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
 
        .carousel-indicators{
            position: absolute;
            bottom: -70px;
            left: 0;
            li{
                width: 30px;
                height: 30px;
                border-radius: 50%;
            }
        }
    }
}


// DEMO SETUP
.demo-setup{
    position: relative;
    padding: 10% ;
    height: 650px;

    .background-img{
        position: absolute;
        left: 0;
        top: 0;
        z-index: -3;
        img{
            width: 100%;
            height: 650px;
            clip-path: polygon(0 0, 50% 15%, 100% 0, 100% 100%, 50% 80%, 0 100%);
        }
        
    }

    .row{
        .col-md-5{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            h1{
                color: black;
                font-size: 30px;
                padding-bottom: 30px;
            }
            .btn-1{
                padding-bottom: 30px;
                button{
                    padding: 10px 60px;
                    @include button-styles();
                    &:hover{
                        @include button-h-styles();
                    }
                }
                
            }
            .btn-2{
                button{
                    padding: 10px 65px;
                    @include button-styles();
                    &:hover{
                        @include button-h-styles();
                    }
                }
                
            }
        }
        .col-md-7{
            a{
                img{
                    width: 90%;
                    height: 500px;
                }
            }
        }
    }
}
@media (max-width:770px){
    .demo-setup{
        .row{
            .col-md-7{
                a{
                    img{
                        height: 400px;
                    }
                }
            }
        }
    }
}


// INTEGRATIONS
.integrations{
    padding: 5% 10%;
    text-align: center;
    .icon{
        padding-bottom: 60px;
        i{
            font-size: 50px;
            padding-bottom: 40px;

        }
        hr{
            width: 20%;
            height: 2px;
            background-color: black;
            border: 0;
            margin: 0 auto;
        }
    }

    .heading-text{
        h1{
            font-size: 40px;
            padding-bottom: 30px;
        }
    }

    .integrations-content{
        .row{
            .col-md-12{
                a{
                    img{
                        width: 150px;
                        height: 150px;
                        padding: 30px;  
                    }   
                }
            }
        }
    }
}


// PARTNERS
.partners{
    padding: 10%;
    background-color: $section-bg-color;

    .row{
        
        .col-md-8{
            padding: 0 20px;
            .heading-text{
                h1{
                    font-size: 40px;
                    text-align: left;
                    padding-bottom: 30px;
                }
            }
            .content{
                p{
                    font-size: 20px;
                    text-align: left;
                }
            }
        }
        .col-md-4{
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0 20px;
            .btn{
                
                
                button{
                    padding: 15px 80px;
                    font-weight: 500;
                    @include button-styles();
                    &:hover{
                        @include button-h-styles()
                    }
                }
                
            }
        }
    }
    
}


// SUPPORT
.support{
    padding: 5% 10%;
    text-align: center;
    .icon{
        padding-bottom: 60px;
        i{
            font-size: 50px;
            padding-bottom: 40px;

        }
        hr{
            width: 20%;
            height: 2px;
            background-color: black;
            border: 0;
            margin: 0 auto;
        }
    }

    .heading-text{
        h1{
            font-size: 40px;
            padding-bottom: 30px;
        }
    }

    .support-content{
        .text{
            p{
                font-size: 20px;
            }
        }
        .btn{
            button{
                font-weight: 500;
                padding: 15px 50px;
                @include button-styles();
                &:hover{
                    @include button-h-styles()
                }
            }
            
        }
    }
}


// SOURCE-LINKS
.source-links{
    position: relative;
    padding: 5% 10%;
    

    .background-img{
        position: absolute;
        left: 0;
        top: 0;
        z-index: -3;
        img{
            width: 100%;
            height: 550px;
            clip-path: polygon(0 0, 50% 15%, 100% 0, 100% 100%, 50% 100%, 0 100%);
        }
        
    }

    .content{
        .row{
            padding: 2% 10%;
            .col-md-4{
                padding: 0 30px;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-bottom: 30px;
                .links{
                    text-align: center;
                    background-color: transparent;
                    width: 250px;
                    height: 250px;
                    border: 1px solid black;
                    border-radius: 50%;
                    padding: 30px;
                    a{              
                        i{
                        color: black;
                        font-size: 80px;
                        padding-bottom: 30px;  
                        }
                    }
                    h1{
                        font-size: 30px;
                        color: black;
                    }
                }    
            }
        }
           
    }
}

@media (max-width:770px){
    .source-links{
        padding: 10%;
        .background-img{
            img{
                height: 1020px;
                clip-path: polygon(0 0, 50% 5%, 100% 0, 100% 100%, 50% 100%, 0 100%);
            }
        }
    }
}


// FOOTER
footer{
    background-color: #219ebc;

    .footer-section{
        padding: 5% 10%;
        .row{
            .col-md-4:not(:last-child){
                padding: 0 20px;
                .heading-text{
                    h1{
                        font-size: 35px;
                    }
                }
                .content{
                    padding-bottom: 30px;
                    ul{
                        list-style-type: none;
                        li{
                            a{
                                text-decoration: none;
                                color: white;
                                font-size: 20px;
                                
                                &:hover{
                                    color: #fcbf49;
                                }
                                
                            }
                        }
                    }
                }
            }

            .col-md-4:last-child{
                padding: 0 20px;
                .heading-text{
                    h1{
                        font-size: 50px;
                    }
                }
                .content{    
                    ul{
                        list-style-type: none;
                        li{
                            a{
                                text-decoration: none;
                                color: white;
                                font-size: 25px;
                                line-height: 2;
                                
                                i{
                                    font-size: 30px;
                                    color: black;
                                    padding-right: 30px;
                                }

                                &:hover{
                                    color: #fcbf49;
                                }
                                &:hover i{
                                    color: #e0fbfc;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}


