




// SHOWCASES ITEMS
.container{
    .showcases-item{

        .heading-text{
            text-align: center;
            h1{
                font-size: 40px;
                padding: 80px 0;
                
            }
        }

        .row{
                
            width: 100%;
            .col-sm-6{
                a{ 
                    img{
                        width: 100%;
                        height: 350px;
                        border: 1px solid rgb(119, 118, 118);

                        &:hover{
                            box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.75);
                        }
                    }
                }
                .text{
                    text-align: center;
                    padding: 20px 0;
                    p:first-child{
                        margin-bottom: 5px;
                    }
                }
            }
        }

    }
}