*, *::before, *::after {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  margin: 0 15px;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 5;
  background-color: white;
  border-bottom: 1px solid black;
  width: calc(100% - 30px);
}
.header .navbar .navbar-collapse .navbar-nav {
  width: 100%;
}

.hero {
  height: 800px;
  background-image: url("../../images/hero.jpg");
  background-size: cover;
  background-color: blue;
}
.hero .hero-content {
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero .hero-content .hero-title {
  color: white;
}
.hero .hero-content .hero-title h1 {
  font-size: 50px;
  padding-top: 120px;
  padding-bottom: 30px;
}
.hero .hero-content .hero-text {
  color: white;
  font-size: 30px;
}
.hero .hero-content .hero-text h2 {
  padding-bottom: 30px;
}
.hero .market-place {
  padding: 0 20%;
}
.hero .market-place .carousel .carousel-inner .carousel-item img {
  width: 80%;
  height: 420px;
}

.clients {
  width: 100%;
  display: flex;
  background-color: #eaedef;
}
.clients .logo {
  flex: 1;
  text-align: center;
}
.clients .logo img {
  max-width: 100%;
  height: 80px;
}

.highlights {
  padding: 5% 10%;
  width: 100%;
}
.highlights .highlights-heading-text {
  text-align: center;
  padding: 30px;
  width: 100%;
}
.highlights .highlights-heading-text i {
  font-size: 50px;
  padding-bottom: 40px;
}
.highlights .highlights-heading-text hr {
  width: 10%;
  height: 2px;
  background-color: #d1df10;
  border: 0;
  margin: 0 auto;
}
.highlights .highlights-heading-text h1 {
  font-size: 40px;
  padding: 20px 0;
}
.highlights .highlights-heading-text .video {
  margin-bottom: 30px;
  max-width: 100%;
}
.highlights .highlights-heading-text .video iframe {
  width: 55%;
  height: 320px;
  overflow: hidden;
}
.highlights .highlights-heading-text .btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
.highlights .highlights-heading-text .btn button {
  padding: 10px 80px;
  background-color: #073b4c;
  color: #edf6f9;
  font-weight: 700;
}
.highlights .highlights-heading-text .btn button:hover {
  background-color: #edf6f9;
  color: #073b4c;
  border: 1px solid black;
}
.highlights .highlights-content {
  text-align: center;
  padding-top: 150px;
  width: 100%;
}
.highlights .highlights-content i {
  font-size: 50px;
}
.highlights .highlights-content hr {
  width: 10%;
  height: 2px;
  background-color: #d1df10;
  border: 0;
  margin: 30px auto;
}
.highlights .highlights-content .title h1 {
  font-size: 30px;
  padding-bottom: 30px;
}
.highlights .highlights-content .links {
  text-align: left;
  display: flex;
  justify-content: center;
  align-items: center;
}
.highlights .highlights-content .links ul {
  list-style-type: none;
}
.highlights .highlights-content .links ul li {
  line-height: 2.5;
}
.highlights .highlights-content .links ul li i {
  font-size: 30px;
  color: #9b9b09;
  padding-right: 30px;
}
.highlights .highlights-content .links ul li a {
  text-decoration: none;
  color: #9b9b09;
  font-size: 20px;
}
.highlights .highlights-content .links ul li a:hover {
  color: black;
}

.reviews {
  padding: 5% 15%;
  background-color: #ece5e5;
}
.reviews .row .col-md-4 {
  text-align: center;
  margin-bottom: 40px;
}
.reviews .row .col-md-4 .icon i {
  font-size: 50px;
  margin-bottom: 30px;
}
.reviews .row .col-md-4 .heading-text a {
  text-decoration: none;
  color: black;
  font-size: 30px;
}
.reviews .row .col-md-4 hr {
  width: 90%;
  height: 2px;
  background-color: #9b9b09;
  border: 0;
  margin: 25px auto;
}
.reviews .row .col-md-4 .rating i {
  font-size: 20px;
  margin-bottom: 30px;
}
.reviews .row .col-md-4 .btn button {
  padding: 10px 40px;
  background-color: #073b4c;
  color: #edf6f9;
}
.reviews .row .col-md-4 .btn button:hover {
  background-color: #edf6f9;
  color: #073b4c;
  border: 1px solid black;
}

.case-studies {
  padding: 5% 15%;
}
.case-studies .heading-text {
  text-align: center;
  margin-bottom: 50px;
}
.case-studies .heading-text .icon {
  padding-bottom: 20px;
}
.case-studies .heading-text .icon i {
  font-size: 40px;
}
.case-studies .heading-text hr {
  width: 15%;
  height: 2px;
  background-color: black;
  border: 0;
  margin: 0 auto;
}
.case-studies .heading-text .title {
  padding-top: 60px;
}
.case-studies .heading-text .title h1 {
  font-size: 40px;
}
.case-studies .casestudy-content .carousel {
  position: relative;
}
.case-studies .casestudy-content .carousel .carousel-inner .carousel-item .row .col-md-5 {
  text-align: center;
}
.case-studies .casestudy-content .carousel .carousel-inner .carousel-item .row .col-md-5 h1 {
  font-weight: 500;
  font-size: 30px;
  padding-bottom: 20px;
}
.case-studies .casestudy-content .carousel .carousel-inner .carousel-item .row .col-md-5 h2 {
  font-weight: 500;
  font-size: 30px;
  padding-bottom: 20px;
}
.case-studies .casestudy-content .carousel .carousel-inner .carousel-item .row .col-md-5 p {
  font-weight: 400;
  font-size: 20px;
  padding-bottom: 20px;
}
.case-studies .casestudy-content .carousel .carousel-inner .carousel-item .row .col-md-5 .btn-1 {
  padding-bottom: 20px;
}
.case-studies .casestudy-content .carousel .carousel-inner .carousel-item .row .col-md-5 .btn-1 button {
  padding: 10px 40px;
  background-color: #073b4c;
  color: #edf6f9;
}
.case-studies .casestudy-content .carousel .carousel-inner .carousel-item .row .col-md-5 .btn-1 button:hover {
  background-color: #edf6f9;
  color: #073b4c;
  border: 1px solid black;
}
.case-studies .casestudy-content .carousel .carousel-inner .carousel-item .row .col-md-5 .btn-2 button {
  padding: 10px 40px;
  background-color: #073b4c;
  color: #edf6f9;
}
.case-studies .casestudy-content .carousel .carousel-inner .carousel-item .row .col-md-5 .btn-2 button:hover {
  background-color: #edf6f9;
  color: #073b4c;
  border: 1px solid black;
}
.case-studies .casestudy-content .carousel .carousel-inner .carousel-item .row .col-md-7 {
  text-align: center;
}
.case-studies .casestudy-content .carousel .carousel-inner .carousel-item .row .col-md-7 a img {
  width: 90%;
  height: 400px;
}
.case-studies .casestudy-content .carousel-indicators {
  position: absolute;
  bottom: -70px;
  left: 0;
}
.case-studies .casestudy-content .carousel-indicators li {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.showcases {
  padding: 10% 15%;
}
.showcases .heading-text {
  text-align: center;
  margin-bottom: 50px;
}
.showcases .heading-text .icon {
  padding-bottom: 20px;
}
.showcases .heading-text .icon i {
  font-size: 40px;
}
.showcases .heading-text hr {
  width: 15%;
  height: 2px;
  background-color: black;
  border: 0;
  margin: 0 auto;
}
.showcases .heading-text .title {
  padding-top: 60px;
}
.showcases .heading-text .title h1 {
  font-size: 40px;
}
.showcases .showcases-content .carousel {
  position: relative;
}
.showcases .showcases-content .carousel .carousel-inner .carousel-item .row .col-md-7 {
  text-align: center;
}
.showcases .showcases-content .carousel .carousel-inner .carousel-item .row .col-md-7 a img {
  width: 90%;
  height: 400px;
}
.showcases .showcases-content .carousel .carousel-inner .carousel-item .row .col-md-5 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.showcases .showcases-content .carousel .carousel-inner .carousel-item .row .col-md-5 h1 {
  font-weight: 500;
  font-size: 30px;
  padding-bottom: 20px;
}
.showcases .showcases-content .carousel .carousel-inner .carousel-item .row .col-md-5 hr {
  width: 30%;
  height: 2px;
  background-color: black;
  border: 0;
}
.showcases .showcases-content .carousel .carousel-inner .carousel-item .row .col-md-5 a {
  text-decoration: none;
  color: black;
  font-size: 20px;
}
.showcases .showcases-content .carousel .carousel-inner .carousel-item .row .col-md-5 .btn-1 {
  padding-bottom: 20px;
}
.showcases .showcases-content .carousel .carousel-inner .carousel-item .row .col-md-5 .btn-1 button {
  padding: 10px 40px;
  background-color: #073b4c;
  color: #edf6f9;
}
.showcases .showcases-content .carousel .carousel-inner .carousel-item .row .col-md-5 .btn-1 button:hover {
  background-color: #edf6f9;
  color: #073b4c;
  border: 1px solid black;
}
.showcases .showcases-content .carousel-indicators {
  position: absolute;
  bottom: -70px;
  left: 0;
}
.showcases .showcases-content .carousel-indicators li {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.demo-setup {
  position: relative;
  padding: 10%;
  height: 650px;
}
.demo-setup .background-img {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -3;
}
.demo-setup .background-img img {
  width: 100%;
  height: 650px;
  clip-path: polygon(0 0, 50% 15%, 100% 0, 100% 100%, 50% 80%, 0 100%);
}
.demo-setup .row .col-md-5 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.demo-setup .row .col-md-5 h1 {
  color: black;
  font-size: 30px;
  padding-bottom: 30px;
}
.demo-setup .row .col-md-5 .btn-1 {
  padding-bottom: 30px;
}
.demo-setup .row .col-md-5 .btn-1 button {
  padding: 10px 60px;
  background-color: #073b4c;
  color: #edf6f9;
}
.demo-setup .row .col-md-5 .btn-1 button:hover {
  background-color: #edf6f9;
  color: #073b4c;
  border: 1px solid black;
}
.demo-setup .row .col-md-5 .btn-2 button {
  padding: 10px 65px;
  background-color: #073b4c;
  color: #edf6f9;
}
.demo-setup .row .col-md-5 .btn-2 button:hover {
  background-color: #edf6f9;
  color: #073b4c;
  border: 1px solid black;
}
.demo-setup .row .col-md-7 a img {
  width: 90%;
  height: 500px;
}

@media (max-width: 770px) {
  .demo-setup .row .col-md-7 a img {
    height: 400px;
  }
}
.integrations {
  padding: 5% 10%;
  text-align: center;
}
.integrations .icon {
  padding-bottom: 60px;
}
.integrations .icon i {
  font-size: 50px;
  padding-bottom: 40px;
}
.integrations .icon hr {
  width: 20%;
  height: 2px;
  background-color: black;
  border: 0;
  margin: 0 auto;
}
.integrations .heading-text h1 {
  font-size: 40px;
  padding-bottom: 30px;
}
.integrations .integrations-content .row .col-md-12 a img {
  width: 150px;
  height: 150px;
  padding: 30px;
}

.partners {
  padding: 10%;
  background-color: #ece5e5;
}
.partners .row .col-md-8 {
  padding: 0 20px;
}
.partners .row .col-md-8 .heading-text h1 {
  font-size: 40px;
  text-align: left;
  padding-bottom: 30px;
}
.partners .row .col-md-8 .content p {
  font-size: 20px;
  text-align: left;
}
.partners .row .col-md-4 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}
.partners .row .col-md-4 .btn button {
  padding: 15px 80px;
  font-weight: 500;
  background-color: #073b4c;
  color: #edf6f9;
}
.partners .row .col-md-4 .btn button:hover {
  background-color: #edf6f9;
  color: #073b4c;
  border: 1px solid black;
}

.support {
  padding: 5% 10%;
  text-align: center;
}
.support .icon {
  padding-bottom: 60px;
}
.support .icon i {
  font-size: 50px;
  padding-bottom: 40px;
}
.support .icon hr {
  width: 20%;
  height: 2px;
  background-color: black;
  border: 0;
  margin: 0 auto;
}
.support .heading-text h1 {
  font-size: 40px;
  padding-bottom: 30px;
}
.support .support-content .text p {
  font-size: 20px;
}
.support .support-content .btn button {
  font-weight: 500;
  padding: 15px 50px;
  background-color: #073b4c;
  color: #edf6f9;
}
.support .support-content .btn button:hover {
  background-color: #edf6f9;
  color: #073b4c;
  border: 1px solid black;
}

.source-links {
  position: relative;
  padding: 5% 10%;
}
.source-links .background-img {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -3;
}
.source-links .background-img img {
  width: 100%;
  height: 550px;
  clip-path: polygon(0 0, 50% 15%, 100% 0, 100% 100%, 50% 100%, 0 100%);
}
.source-links .content .row {
  padding: 2% 10%;
}
.source-links .content .row .col-md-4 {
  padding: 0 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
.source-links .content .row .col-md-4 .links {
  text-align: center;
  background-color: transparent;
  width: 250px;
  height: 250px;
  border: 1px solid black;
  border-radius: 50%;
  padding: 30px;
}
.source-links .content .row .col-md-4 .links a i {
  color: black;
  font-size: 80px;
  padding-bottom: 30px;
}
.source-links .content .row .col-md-4 .links h1 {
  font-size: 30px;
  color: black;
}

@media (max-width: 770px) {
  .source-links {
    padding: 10%;
  }
  .source-links .background-img img {
    height: 1020px;
    clip-path: polygon(0 0, 50% 5%, 100% 0, 100% 100%, 50% 100%, 0 100%);
  }
}
footer {
  background-color: #219ebc;
}
footer .footer-section {
  padding: 5% 10%;
}
footer .footer-section .row .col-md-4:not(:last-child) {
  padding: 0 20px;
}
footer .footer-section .row .col-md-4:not(:last-child) .heading-text h1 {
  font-size: 35px;
}
footer .footer-section .row .col-md-4:not(:last-child) .content {
  padding-bottom: 30px;
}
footer .footer-section .row .col-md-4:not(:last-child) .content ul {
  list-style-type: none;
}
footer .footer-section .row .col-md-4:not(:last-child) .content ul li a {
  text-decoration: none;
  color: white;
  font-size: 20px;
}
footer .footer-section .row .col-md-4:not(:last-child) .content ul li a:hover {
  color: #fcbf49;
}
footer .footer-section .row .col-md-4:last-child {
  padding: 0 20px;
}
footer .footer-section .row .col-md-4:last-child .heading-text h1 {
  font-size: 50px;
}
footer .footer-section .row .col-md-4:last-child .content ul {
  list-style-type: none;
}
footer .footer-section .row .col-md-4:last-child .content ul li a {
  text-decoration: none;
  color: white;
  font-size: 25px;
  line-height: 2;
}
footer .footer-section .row .col-md-4:last-child .content ul li a i {
  font-size: 30px;
  color: black;
  padding-right: 30px;
}
footer .footer-section .row .col-md-4:last-child .content ul li a:hover {
  color: #fcbf49;
}
footer .footer-section .row .col-md-4:last-child .content ul li a:hover i {
  color: #e0fbfc;
}

.container .showcases-item .heading-text {
  text-align: center;
}
.container .showcases-item .heading-text h1 {
  font-size: 40px;
  padding: 80px 0;
}
.container .showcases-item .row {
  width: 100%;
}
.container .showcases-item .row .col-sm-6 a img {
  width: 100%;
  height: 350px;
  border: 1px solid #777676;
}
.container .showcases-item .row .col-sm-6 a img:hover {
  box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.75);
}
.container .showcases-item .row .col-sm-6 .text {
  text-align: center;
  padding: 20px 0;
}
.container .showcases-item .row .col-sm-6 .text p:first-child {
  margin-bottom: 5px;
}

/*# sourceMappingURL=style.css.map */
